<h1>Manage Managers</h1>

<%= link_to 'Add Manager', new_admin_manager_path, class: 'btn btn-primary' %>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Assigned Bookstores</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @managers.each do |manager| %>
      <tr>
        <td><%= manager.email %></td>
        <td>
          <% if manager.managed_bookstores.any? %>
            <ul>
              <% manager.managed_bookstores.each do |bookstore| %>
                <li><%= bookstore.name %></li>
              <% end %>
            </ul>
          <% else %>
            None
          <% end %>
        </td>
        <td>
          <%= link_to 'Edit', edit_admin_manager_path(manager), class: 'btn btn-secondary' %>
          <%= link_to 'Delete', admin_manager_path(manager), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
