<!DOCTYPE html>
<html>
<head>
  <title>Bookstore Management</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'https://www.gstatic.com/charts/loader.js' %>
  <%= javascript_include_tag 'https://cdn.jsdelivr.net/npm/chartkick@5.0.1/dist/chartkick.min.js' %>

  <%= csrf_meta_tags %>
</head>

<body>
  <nav>
    <% if user_signed_in? %>
      <p>Welcome, <%= current_user.email %></p>
      <% if current_user.admin? %>
        <a href="<%= admin_dashboard_index_path %>">Admin Dashboard</a>
      <% elsif current_user.manager? %>
        <a href="<%= manager_dashboard_index_path %>">Manager Dashboard</a>
      <% elsif current_user.customer? %>
        <a href="<%= customer_dashboard_index_path %>">Customer Dashboard</a>
      <% end %>
      <ul>
        <li><%= link_to 'Books', books_path %></li>
        <li><%= link_to 'Bookstores', bookstores_path %></li>
        <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
      </ul>
    <% end %>
  </nav>
  <%= yield %>
</body>
</html>
